<h2 style="text-align: center; ">Dữ liệu câu hỏi vời id : {{question._id}} </h2>
<p><strong>_ID:</strong>{{question._id}}</p>
<p><strong>ID người dùng: </strong> {{question.userId}}</p>
<p><strong>Title: </strong> {{question.title}}</p>
<p><strong>Subject: </strong> {{question.subject}}</p>
<p><strong>Tags :</strong> {{question.tags}}</p>
<p><strong>Số lượng câu trả lời: </strong> {{question.answersCount}}</p>
<p><strong>Ngày đăng: </strong> {{question.createdAt}}</p>