<button><a href='/comment'>Quay lại</a></button>
<p><strong>_ID:</strong>{{comment._id}}</p>
<p><strong>_ID của người dùng : </strong> {{comment.userId}}</p>
<p><strong>Nội dung câu trả lời : </strong>:{{comment.answerTitle}}</p>
<p><strong>Nội dung: </strong>:{{comment.content}}</p>
<p><strong>Ngày đăng: </strong>:{{comment.createdAt}}</p>