<button><a href='/answer'>Quay lại</a></button>
<p><strong>_ID:</strong>{{answer._id}}</p>
<p><strong>_ID của người dùng : </strong> {{answer.userId}}</p>
<p><strong>Nội dung câu hỏi : </strong>:{{answer.titleQuestion}}</p>
<p><strong>Nội dung trả lời : </strong> {{answer.content}}</p>
<p><strong>Số lượt thích : </strong>{{answer.like}}</p>
<p><strong>Số lượt không thích : </strong>{{answer.dislike}}</p>
<p><strong>Số lượt bình luận : </strong>{{answer.commentCount}}</p>